# Provider: anthropic | openai
LLM_PROVIDER=openai

# Required
MODEL_ID=deepseek-chat
LLM_API_KEY=your-api-key

# Optional
OPENAI_BASE_URL=https://api.deepseek.com
ANTHROPIC_BASE_URL=https://api.anthropic.com
MAX_TOKENS=8000
